h2 {
	font-size: 40px;
	margin-top: 180px;
	text-align: center;
}

.contenedor2 {
	margin-top: -40px;
	background: #808080;
}

h3{
	text-align: left;
	margin-left: 15px;
}

img { 
	margin-left:300px;
	width: 400px;
	height:auto;

 }

 h4{
 	color:#fff;
 	text-align: center;
 }